<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>CTI Repository System</title>
<!--  for font -->
<link type="text/css" href="/static/ctirs/css/roboto.css" rel="stylesheet"/>
<!--  for jquery -->
<link type="text/css" href="/static/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet"/>
<script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap-switch.min.js"></script>
<link href="/static/bootstrap/css/default/bootstrap.css" rel="stylesheet"/>
<!-- bootstrapの方を先に読み込まないとダイアログの右上の×が表示されない -->
<script type="text/javascript" src="/static/jquery-ui-1.12.1/jquery-ui.min.js"></script>
</head>
