{% include 'header.html' %}
<head>
<!--  for poll_detail -->
<link href="/static/ctirs/css/poll.css" rel="stylesheet">
<script type="text/javascript" src="/static/ctirs/js/poll_detail.js"></script>
</head>
<body>
{% include 'nav_header.html' %}
<form name="poll_start" id="poll-start-form" action="/poll/{{taxii.id}}/start" method="GET">
<div class="container">
    <br/>
    <h1>Poll Detail</h1>
    <br/>
    <hr/>
    <h2>Poll Information</h2>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                Configuration Name
            </div>
            <div class="col-xs-4">
            	<p>{{ taxii.name }}</p>
            </div>
        </div> <!-- <div class="row">-->
    </div><!-- <div class="form-group"> -->
    <div class="form-group">
        <div class="row">
            {% if taxii.protocol_version == '1.0' or taxii.protocol_version == '1.1' %}
            <div class="col-xs-2">
                Address
            </div>
            <div class="col-xs-4">
            	<p>{{ taxii.address }}</p>
            </div>
            {% else %}
            <div class="col-xs-2">
                API ROOT
            </div>
            <div class="col-xs-4">
            	<p>{{ taxii.api_root }}</p>
            </div>
            {% endif %}
        </div> <!-- <div class="row">-->
    </div><!-- <div class="form-group"> -->
    <br/>
    <hr/>
    <h2>Poll Configuration</h2>
    <div class="form-group">
    <p id="error-msg">{{ error_msg |default:'' }}</p>
    <p id="info-msg">{{ info_msg |default:'' }}</p>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                {% if taxii.protocol_version == '1.0' or taxii.protocol_version == '1.1' %}
                Start (UTC)
                {% else %}
                Added After (UTC)
                {% endif %}
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Dateformat" data-content="YYYY/mm/dd HH:MM:SS" data-placement="bottom"></span>
            </div>
            <div class="col-xs-4">
                <input id="poll-start" type="text" name="poll_start" class="form-control" {% if taxii.last_requested %}value="{{taxii.last_requested|date:'Y/m/d H:i:s'}}" {% endif %}/>
            </div>
        </div> <!-- <div class="row">-->
    </div><!-- <div class="form-group"> -->
    {% if taxii.protocol_version == '1.0' or taxii.protocol_version == '1.1' %}
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                End (UTC)
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Dateformat" data-content="YYYY/mm/dd HH:MM:SS" data-placement="bottom"></span>
            </div>
            <div class="col-xs-4">
                <input id="poll-End" type="text" name="poll_end" class="form-control"/>
            </div>
        </div> <!-- <div class="row">-->
    </div><!-- <div class="form-group"> -->
    {% endif %}
    {% if taxii.protocol_version == '2.0' or taxii.protocol_version == '2.1' %}
    <hr/>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-3">
                Limit
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Note" data-content="Integer Only" data-placement="bottom"></span>
            </div>
            <div class="col-xs-4">
                <input id="poll-limit" type="text" name="poll_limit" class="form-control" value="10" />
            </div>
        </div> <!-- <div class="row">-->
        <div class="row">
            <div class="col-xs-3">
                Next
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Note" data-content="Next Record Identifier" data-placement="bottom"></span>
            </div>
            <div class="col-xs-4">
                <input id="poll-next" type="text" name="poll_next" class="form-control"/>
            </div>
        </div> <!-- <div class="row">-->
        <hr/>
        <div class="row">
            <div class="col-xs-3">
                Match (id)
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Example" data-html="true" data-content="indicator--3600ad1b-fff1-4c98-bcc9-4de3bc2e2ffb<br/>indicator--3600ad1b-fff1-4c98-bcc9-4de3bc2e2ffb,sighting--4600ad1b-fff1-4c58-bcc9-4de3bc5e2ffd" data-placement="bottom"></span>
            </div>
            <div class="col-xs-4">
                <input id="poll-match-id" type="text" name="poll_match_id" class="form-control"/>
            </div>
        </div> <!-- <div class="row">-->
        <div class="row">
            <div class="col-xs-3">
                Match (spec_version)
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Example" data-html="true" data-content="2.1<br/>2.0,2.1<br/>" data-placement="bottom"></span>
            </div>
            <div class="col-xs-4">
                <input id="poll-match-spec-version" type="text" name="poll_match_spec_version" class="form-control"/>
            </div>
        </div> <!-- <div class="row">-->
        <div class="row">
            <div class="col-xs-3">
                Match (type)
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Example" data-html="true" data-content="indicator<br/>indicator,sighting" data-placement="bottom"></span>
            </div>
            <div class="col-xs-4">
                <input id="poll-match-type" type="text" name="poll_match_type" class="form-control"/>
            </div>
        </div> <!-- <div class="row">-->
        <div class="row">
            <div class="col-xs-3">
                Match (version)
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Example" data-html="true" data-content="all<br/>last,first<br/>first,2018-03-02T01:01:01.123Z,last<br/>2016-03-23T01:01:01.000Z,2018-03-02T01:01:01.123Z" data-placement="bottom"></span>
            </div>
            <div class="col-xs-4">
                <input id="poll-match-version" type="text" name="poll_match_version" class="form-control"/>
            </div>
        </div> <!-- <div class="row">-->
    </div><!-- <div class="form-group"> -->
    {% endif %}
    <div class="form-group">
        <div class="row">
            <input id="poll-start" type="hidden" name="protocol_version" value="{{taxii.protocol_version}}"/>
            <button type="button" id="poll-start-submit" class="btn btn-default" >Poll Start</button>
        </div> <!-- <div class="row">-->
    </div><!-- <div class="form-group"> -->
</div> <!--  <div class="container"> -->
</form>
</body>
</html>
