{% include 'header.html' %}
<head>
<!--  for poll -->
<link href="/static/ctirs/css/poll.css" rel="stylesheet">
<script type="text/javascript" src="/static/ctirs/js/poll.js"></script>
</head>

<body>
{% include 'nav_header.html' %}
<form name="poll_detail" id="poll-detail" action="/poll/" method="GET"></form>
<div class="container">
    <br/>
    <h1>Poll</h1>
    <br/>
    <hr/>
    {% if taxii_clients %}
    <h2>Choose TAXII Client (1.x)</h2>
    <table class="table table-striped table-hover" style="table-layout: fixed;">
    <thead>
    <tr>
    <td>
        Poll
    </td>
    <td>
        Display Name
    </td>
    <td>
        Address
    </td>
    <td>
        Community
    </td>
    <td>
        Last Request
    </td>
    </tr>
    </thead>
    <tbody>
    {% for taxii_client in taxii_clients %}
    <tr class="configure-tr">
    <td>
        <div class="form-group">
            {% if taxii_client.is_exist_community %}
                {% if taxii_client.can_read %}
                <button class="btn btn-default poll-detail-button btn-sm" type="button" display_name="{{ taxii_client.name }}" taxii_client_protocol_version="{{taxii_client.protocol_version}}" taxii_client_id="{{ taxii_client.id }}">Poll</button>
                {% else %}
                <button class="btn btn-default poll-detail-button btn-sm" type="button" disabled>Poll</button>
                {% endif %}
		    {% else %}
            <button class="btn btn-default poll-detail-button btn-sm" type="button" disabled>Poll</button>
		    {% endif %}
        </div><!-- <div class="form-group"> -->
    </td>
    <td>
        <p class="display-name">{{ taxii_client.name }}</p>
    </td>
    <td>
        <p class="address">{{ taxii_client.address }}</p>
    </td>
    <td>
	    {% if taxii_client.is_exist_community %}
        <p class="community">{{ taxii_client.community.name }}</p>
        {% else %}
        <p class="community" style="color:red;">Community has been deleted.</p>
        {% endif %}
    </td>
    <td>
        <p class="last-request">{{ taxii_client.last_requested |date:"Y/m/d H:i:s (O)" |default:'Not yet' }}</p>
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    <hr/>
    {% if taxii2_clients %}
    <h2>Choose TAXII Client (2.x)</h2>
    <table class="table table-striped table-hover" style="table-layout: fixed;">
    <thead>
    <tr>
    <td>
        Poll
    </td>
    <td>
        Display Name
    </td>
    <td>
        API_ROOT
    </td>
    <td>
        Community
    </td>
    <td>
        Last Request
    </td>
    </tr>
    </thead>
    <tbody>
    {% for taxii2_client in taxii2_clients %}
    <tr class="configure-tr">
    <td>
        <div class="form-group">
		    {% if taxii2_client.is_exist_community %}
                {% if taxii2_client.can_read %}
                <button class="btn btn-default poll-detail-button btn-sm" type="button" display_name="{{ taxii2_client.name }}" taxii_client_protocol_version="{{taxii2_client.protocol_version}}" taxii_client_id="{{ taxii2_client.id }}">Poll</button>
                {% else %}
                <button class="btn btn-default poll-detail-button btn-sm" type="button" disabled>Poll</button>
                {% endif %}
		    {% else %}
            <button class="btn btn-default poll-detail-button btn-sm" type="button" disabled>Poll</button>
		    {% endif %}
        </div><!-- <div class="form-group"> -->
    </td>
    <td>
        <p class="display-name">{{ taxii2_client.name }}</p>
    </td>
    <td>
        <p class="address">{{ taxii2_client.api_root }}</p>
    </td>
    <td>
	    {% if taxii2_client.is_exist_community %}
        <p class="community">{{ taxii2_client.community.name }}</p>
        {% else %}
        <p class="community" style="color:red;">Community has been deleted.</p>
        {% endif %}
    </td>
    <td>
        <p class="last-request">{{ taxii2_client.last_requested |date:"Y/m/d H:i:s (O)" |default:'Not yet' }}</p>
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
</div> <!--  <div class="container"> -->
</body>
</html>
