{% include 'header.html' %}
<head>
<link href="/static/ctirs/css/login.css" rel="stylesheet">
<script type="text/javascript" src="/static/ctirs/js/login.js"></script>
</head>
<body>
<form name="login" id="login" action="/login/" method="post">{% csrf_token %}
<div class="center">
<h1>CTI Repository System</h1>
<h2>Please login</h2>
</div>
<br/>
<div class="container" style="width:60%;">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                <label for="username" class="control-label">Username</label>
            </div>
            <div class="col-xs-10">
                <input id="username" type="text" name="username" class="form-control"/>
            </div>
        </div> <!-- <div class="row">-->
    </div> <!--  <div class="form-group"> -->
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                <label for="password" class="control-label">Password</label>
            </div>
            <div class="col-xs-10">
                <input id="password" type="password" name="password" class="form-control"/>
            </div>
        </div> <!-- <div class="row">-->
    </div> <!--  <div class="form-group"> -->
    <div class="form-group">
        {% if error_msg %}
        {{ error_msg }}
        {% endif %}
    </div> <!--  <div class="form-group"> -->

    <button type="button" id="login-submit" class="btn btn-primary">Login</button>
</div> <!--  <div class="container"> -->
</form>
</body>
</html>

