h1,h2{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1{
    text-align: center;
}

#error-msg,#info-msg,#interval-error-msg,#interval-info-msg{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: large;
    color: #ff0000;
}

#interval-error-msg,#error-msg{
    color: #ff0000;
}

#interval-info-msg,#info-msg{
    color: #0000ff;
}
