.center{
    text-align: center;
}
h1,h2{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
h1{
    text-align: center;
}
.file-delete-td{
    text-align: center;
}
#page-title{
    display: flex;
    justify-content: center;
    position: relative;
}
#auto-reload-set{
    position: absolute;
    right: 0;
    min-height: 1px;
    padding-right: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
